* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 500px;
  height: 500px;
  display: grid;
}

#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#reset {
  margin: 2em;
}
